body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.botao {
    background-color: #ff397e;
    font-size: 36px;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 6px 0 0 #a32751;
    border-radius: 3px;
    text-align: center;
}

/* HEADER */

header {
    margin-bottom: -120px;
    
}

header nav ul {
    padding-right: 80px;
    margin: 0;
    margin-top: 20px;

}

header nav li {
    list-style: none;
    display: inline-block;
    margin-right: 80px;
}

header nav li:last-child {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 30px 10px 30px;
}

header nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 1px 0 0 #fff;
}

header h1 span {
    visibility: hidden;
}

header h1 {
    margin: 0;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    width: 177px;
    height: 76px;
    margin-top: 10px;
}

/* SECTION TOP0 */

section#topo {
    background-image: url(images/fundo3.jpg);
    background-size: cover;
    height: 700px;
}

section#topo .chamada {
    color: #fff;
    margin-top: 200px;
    text-align: center;
}

section#topo .chamada h2 {
    margin: 0;
    font-size: 50px;
    margin-bottom: 10px;
}

section#topo .chamada p {
    margin: 0;
    font-size: 36px;
    margin-bottom: 20px;
}

/* SECTION CONHEÇA */

section#conheca {
    padding: 70px;
}

section#conheca .container img {
    /* width: 600px;
    height: 400px; */
    width: 450px;
    height: 398px;
}

section#conheca .texto {
    padding: 70px;
    padding-top: 30px;
    padding-right: 70px;
}

section#conheca .texto he {
    font-size: 36px;
}

section#conheca .texto p {
    font-size: 24px;
}

section#conheca .texto a {
    width: 60%;
    font-size: 30px;
}

/* SECTION DEPOIMENTO */

section#depoimento {
    background-color: #ebe7fb;
    border-top: 4px solid #511099;
}

section#depoimento .container {
    flex-direction: column;
    align-items: center;
    padding: 70px;
    padding-bottom: 50px;
}

section#depoimento img {
    width: 150px;
    height: 150px;
}

section#depoimento p {
    font-size: 24px;
    width: 80%;
    text-align: center;
}


/* SECTION CONVITE */

section#convite{
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url(images/fundo-convite.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section#convite form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    width: 55%;
    border-radius: 3px;
    display: flex;
}

::-webkit-input-placeholder {
    color: #4A4A4A;
    font-size: 18px;
}

section#convite .container {
    flex-direction: column;
    align-items: center;
}

section#convite input {
    padding: 30px;
    width: 75%;
    background-color: transparent;
    border: none;
    outline: none;
}

section#convite button {
    background-image: url(images/botao-convite.png);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 100px;
    height: 43px;
    margin-top: 15px;
    margin-right: 20px;
}

section#convite button span {
    visibility: hidden;
}

@media (max-width: 600px) {
    header nav {
        display: none;
    }

    header h1 {
        margin-left: 20px;
    }
}