@import url(header.css);

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: 'mulishregular'; */
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
}

h1, h2, h3, ul {
    margin: 0;
}

.checkout {
    width: 688px;
    height: 558px;
    background-color: #fff;
}

.checkout main {
    display: flex;
}

.checkout main .cartao {
    height: 100px;
    width: 55%;
}

.checkout main .resumos {
    height: 100px;
    width: 45%;
}