body {
    background-color: #F2F2F2;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 60px 40px 60px 100px;
    margin-bottom: 3px;
    background-image: url('rec.png');
    background-repeat: no-repeat;
    background-position: 40px center;
    background-size: 40px 40px;
    height: 28px;
}

li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 2px;
    display: block;
    background-image: url('arrow_right.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px 30px;
    -webkit-font-smoothing: antialised;
}

li.feito:hover {
    background-color: rgba(39, 174, 96, 0.8);
}

li.feito {
    background-color: #27AE60;
    background-image: url('done.png');
}

li.pend {
    background-color: #4A4A4A;
}

li.pend:hover {
    background-color: rgba(74, 74, 74, 0.8);
}